<footer class="footer border-top bg-light">
<div class="d-flex justify-content-center text-body-secondary pt-3">
    {{site.title}} &middot; &copy; 2024
</div>
<div class="d-flex justify-content-center p-3">
    <a href="{{site.google}}"  class="btn btn-lg shadow-sm  fa fa-google m-1" role="button"></a>
    <a href="{{site.github}}" class="btn btn-lg  shadow-sm fa fa-github m-1" role="button"></a>
    <a href="{{site.linkedin}}"  class="btn btn-lg  shadow-sm  fa fa-linkedin m-1" role="button"></a>
</div> 
</footer>