<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        {% for link in site.nav-menu %}
          {% if page.permalink == {{link.permalink}} %}
          <li class="nav-item"><a href="{{site.baseurl}}/{{link.permalink}}" class="nav-link active">{{link.text}}</a></li>
          {% else %}
            <li class="nav-item"><a href="{{site.baseurl}}/{{link.permalink}}" class="nav-link">{{link.text}}</a></li>
          {% endif %}

        {% endfor %}
      </ul>
    </header>
  </div>