<div class="p-3 mb-2 bg-light rounded-3">
    <div class="container-fluid row">
      <div class="col-4 d-flex justify-content-center ">
        <div class="">
            <img class="img-thumbnail rounded-circle profile-bg" style="width: auto; height: 130px;" src="/assets/img/{{site.profile-pic}}"
            alt="author profile image">
        </div>
      </div>  
      <div class="col-8">
        <div class="badge-top col-5 mb-2">{{site.welcome}} <div class="wave">👋</div></div>
        <p class="display-6 poppins-font">{{site.position}}</p>
        <p class="fs-6">{{site.description}}</p>
 
      </div>  
    </div>
</div>

