<div class="p-3 mb-2 bg-body-tertiary rounded-3">
    <div class="container-fluid row">
      <div class="col-4 ">
        <div class="d-flex justify-content-center">
            <img class="img-thumbnail rounded-circle bg-success" style="width: auto; height: 130px;" src="{{site.baseurl}}/assets/img/{{site.profile-pic}}"
            alt="author profile image">
        </div>
        <div class="d-flex justify-content-center p-3">
            <a href="#" class="btn btn-lg shadow-sm  fa fa-github" role="button"></a>
            <a href="#"  class="btn btn-lg shadow-sm  fa fa-twitter" role="button"></a>
        </div>

      </div>  
      <div class="col-8">
        <h3 class="display-5 fw-bold">{{site.position}}</h3>
        <p class="fs-4">{{site.description}}</p>

      </div>  
    </div>
</div>

