@import "vars";
@import "bootstrap-5.0.2/scss/bootstrap.scss";

@font-face {
  font-family: 'consolas';
  src: url('/assets/fonts/consolas/CONSOLA.TTF') format('truetype');
  /* Add additional src declarations if necessary */
  /* You can also include font-weight and font-style if applicable */
}

/* Optionally, you can define font variables for convenience */
$consolas-font: 'consolas', sans-serif;

@font-face {
  font-family: 'consolas';
  src: url('/assets/fonts/consolas/CONSOLA.TTF') format('truetype');
  /* Add additional src declarations if necessary */
  /* You can also include font-weight and font-style if applicable */
}

/* Optionally, you can define font variables for convenience */
$consolas-font: 'consolas', sans-serif;

.consolas-font {
  font-family: $consolas-font;
}

.profile-bg{
  background-color: rgb(154, 41, 142);
}

.logo-color{
  color: rgb(51, 182, 101);
}

.badge-top {
  background-color: rgb(67, 67, 67);
  color: white;
  padding: 4px 17px;
  text-align: left;
  border-radius: 30px;
}

.bg-dot {
  background-image: radial-gradient(rgb(179, 179, 179) 10%, transparent 11%),
    radial-gradient(#413f3f 10%, transparent 11%);
  background-size: 10px 10px;
  background-position: 0 0, 50px 50px;
  background-repeat: repeat;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}