@import "vars";
@import "bootstrap-5.0.2/scss/bootstrap.scss";

@font-face {
  font-family: 'consolas';
  src: url('/assets/fonts/consolas/CONSOLA.TTF') format('truetype');
  /* Add additional src declarations if necessary */
  /* You can also include font-weight and font-style if applicable */
}

/* Optionally, you can define font variables for convenience */
$consolas-font: 'consolas', sans-serif;

@font-face {
  font-family: 'poppins';
  src: url('/assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  /* Add additional src declarations if necessary */
  /* You can also include font-weight and font-style if applicable */
}

/* Optionally, you can define font variables for convenience */
$poppins-font: 'poppins', sans-serif;

.consolas-font {
  font-family: $consolas-font;
}

.poppins-font {
  font-family: $poppins-font;
}

.profile-bg{
  background-color: rgb(154, 41, 142);
}

.logo-color{
  color: rgb(51, 182, 101);
}

.badge-top {
  //background-color: rgb(67, 67, 67);
  color: rgb(2, 2, 2);
  padding: 4px;
  text-align: left;
  border-radius: 30px;
}

.bg-dot {
  background-image: radial-gradient(rgb(179, 179, 179) 10%, transparent 11%),
    radial-gradient(#413f3f 10%, transparent 11%);
  background-size: 10px 10px;
  background-position: 0 0, 50px 50px;
  background-repeat: repeat;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: -10;
  width: 40%;
  object-position: 100px -100px;
  height: auto;
}

.demo-content {
  position: relative;
}

.sidebar {
  position: fixed;
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #dee2e6;
}

.content {
  padding: 20px;
  overflow-y: auto;
}

.nav-item a{
  color: $primary;
}

/* Optional: Add some styling to the table of contents */

.my-toc-id {
    list-style: none;
    padding: 10px;
}

.item-li {
    margin-bottom: 30px;
}

.my-item-class{
  text-decoration: none;
}

.my-list-class {
  background-color: #fff;
  margin: 0px 0;
  padding: 20px 20px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  list-style-type: none;
  text-decoration: none !important;
  font-weight: bold;
}

.my-sublist-class {
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  
}


/* Style for TOC links */
.toc-entry a {
  display: block;
  text-decoration: none !important;
 // border: 1px solid #dee2e6;
//  border-radius: 0.4rem;
  padding: 0.5rem 0.75rem;
//  margin-bottom: 0.5rem;
  background: #f8f9fa;
  color: $primary;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}
.toc-entry a:hover, .toc-entry a:focus {
  background: #e2e6ea;
  color: $secondary;
 // box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  text-decoration: none;
}

#toc li {
  list-style: none;
}
