@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: "consola";
    src: "{{site.baseurl}}/assets/fonts/consolas/CONSOLA.TTF";
  }
  
  @font-face {
    font-family: "pixel";
    src: "{{site.baseurl}}/assets/fonts/pixel/Pixel.ttf";
  }
  
  @font-face {
    font-family: "coleco";
    src: "{{site.baseurl}}/assets/fonts/coleco/coleco.ttf";
  }
  
  @font-face {
    font-family: "hackbot";
    src: "{{site.baseurl}}/assets/fonts/hackbot/hackbot.otf";
  }
  
  @font-face {
    font-family: "toronto";
    src: "{{site.baseurl}}/assets/fonts/toronto/toronto.ttf";
  }