<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '{{site.baseurl}}/assets/css/styles.css' | absolute_url }}">
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- highlight.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github-dark-dimmed.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
 
    <!-- MathJax -->
    <script>
     MathJax = {
     tex: {
       inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
     };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>
  <body class="">
    <main>
      {% include header.html %}
      <div class="col-lg-8 mx-auto p-4 py-md-2">

    {% include top.html %}
    {% include nav.html %}
    {{ content }}

  </div>
  {% include footer.html %}
  </main>
  </body>
</html>
